.ProductsForm > form{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60vw;
}

.ProductsForm > form > input {
  margin-bottom: 7px;
  text-align: center;
}

.ProductsForm > form > button {
  width: 6rem;
  padding: 0.5em;
  border: none;
  margin: auto;
  background-color: #c4c4c4;
  border-radius: 2px;
  margin-top: 7px;
}

.ProductsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ProductsForm-banner {
  background-color: #d4d4d4;
  text-align: center;
  font-size: 2vw;
  color: white;
  padding: 2% 28%;
  margin-bottom: 1em;
}