.NavBar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.NavBar a:hover {
  transition: ease 1s;
  color: #999999;
}

.NavBar {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(24, 24, 24, 0.315);
  padding: 0.3rem;
  font-weight: 300;
}

.NavBar-right-items {
  float: right;
}