.NavBar a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 0px 5px;
}

.NavBar a:hover {
  transition: ease 1s;
  color: white;
  background-color: rgba(158, 158, 158, 0.7);
  text-decoration: none;
}

.NavBar {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: rgba(24, 24, 24, 0.7);
  padding: 0.3rem;
  font-weight: 300;
}

.NavBar-left-items {
  margin-left: 3%;
}

.NavBar-left-items > a {
  letter-spacing: 2px;
}

.NavBar-right-items {
  float: right;
  margin-right: 2%;
}